{% load static %}
{% load count_bbs %}


<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Главная{% endblock %} ::
        Доска объявлений</title>
    <link rel="stylesheet" href="{% static 'bboard/style.css' %}">
</head>
<body>

<header>
    <h1>Объявления</h1>
</header>


<nav>
    <a href="{% url 'index' %}">Главная</a>
    <a href="{% url 'add' %}">Добавить</a>
    {% for rubric in rubrics %}
    <a href="{{ rubric.get_absolute_url }}">
        {{ rubric.name }} (
        {% if count_bb %}
        {{ count_bb|count_bbs:rubric.pk }}
        {% endif %}
        )
    </a>
    {% endfor %}
</nav>

<section>
    {% block content %}
        Данных нет
    {% endblock %}
</section>

</body>
</html>