{% extends "layout/basic.html" %}

{% block content %}

    {% if user.is_authenticated %}
    <h3>
        <a href="{% url 'authapp:logout' %}">
            Выйти ({{ user.username }})
        </a>
    </h3>
    {% else %}
    <h3>
        <a href="{% url 'authapp:login' %}">
            Войти
        </a>
    </h3>
    {% endif %}

{% for bb in bbs %}
<div>
    <h2>{{ bb.title }}</h2>
    <p>{{ bb.content }}</p>
    <p>
        <a href="{% url 'by_rubric' bb.rubric.pk %}">
            {{ bb.rubric.name }}
        </a>
    </p>
    <p>{{ bb.published|date:"d.m.Y H:i:s" }}</p>
</div>
{% endfor %}
{% endblock %}
